@model IEnumerable<SPAShoppingCartApp.CartService.ProductDescription>

@{
    ViewBag.Title = "GetProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="product-search-div" class="row">
    <div id="product-filter" class="col-md-3">
        @{Html.RenderAction(actionName: "BrandFilter", controllerName: "Filter", routeValues: new { area = "Product" });}
        @{Html.RenderAction(actionName: "PriceFilter", controllerName: "Filter", routeValues: new { area = "Product" });}
        @{Html.RenderAction(actionName: "SizeFilter", controllerName: "Filter", routeValues: new { area = "Product" });}
    </div>
    <div id="product-list-div" class="col-md-9">
        @foreach (var item in Model)
        {
            <div class="col-md-12">
                <div class="col-md-4">
                    <img class="img-responsive" src="http://img6a.flixcart.com/image/shoe/f/c/7/black-white-scarle-hellion-m-adidas-8-400x400-imaefsdxhpn4cxvf.jpeg" alt="Wordpress eStore Plugin">
                </div>
                <div class="col-md-8">
                    <div class="eStore-product-name">
                        <span class="eStore_price_value">@Html.DisplayFor(modelItem => item.ProductName)</span>
                    </div>
                    @Html.DisplayFor(modelItem => item.ProductDescription1)
                    <div class="eStore_price">
                        <span class="eStore_price_label"><strong>Price: </strong></span>
                        <span class="eStore_price_value">@Html.DisplayFor(modelItem => item.Price)</span>
                        <span class="eStore_price_label"><strong>Items in Stock: </strong></span>
                        @{
            var products = @item.Products.Where(product => product.IsSold != true).ToList();
            int count = products.Count;
                        }
                        <span class="eStore_price_value">@count</span>
                    </div>
                    @Html.ActionLink("Details", "ProductDetails", "Product", new { area = "Product", id = item.Id }, htmlAttributes: new { @class = "modal-link btn btn-success", title = "Manage" })
                </div>
            </div>
        }
    </div>
</div>




@section scripts {
    @Scripts.Render("~/bundles/product")
}
