@model IEnumerable<SPAShoppingCartApp.Areas.ShoppingCart.Models.CartItem>

@{
    ViewBag.Title = "Cart";
}


<div class="modal-body">
    <div class="alert alert-warning">

        <div class="row">
            <div class="col-md-2">
                Product Code
            </div>
            <div class="col-md-2">
                Product Name
            </div>
            <div class="col-md-2">
                Quantity Ordered.
            </div>
            <div class="col-md-2">
                Price
            </div>
            <div class="col-md-2">
                Total Cost
            </div>
            <div class="col-md-2">

            </div>
        </div>

        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-2">
                    <img src="@item.ProductImageSrc" alt="Prooduct Image" />
                </div>
                <div class="col-md-2">
                    @item.ProductName
                </div>
                <div class="col-md-2">
                    @item.ProductQuantity
                </div>
                <div class="col-md-2">
                    @item.ProductPrice
                </div>
                <div class="col-md-2">
                    @(int.Parse(item.ProductPrice) * item.ProductQuantity)
                </div>
                <div class="col-md-2">
                    @Html.ActionLink("Remove", "Delete", new { id = item.ProductId })
                </div>
            </div>
        }

        <div class="row">
            <div class="col-md-2">Total:</div>
            <div class="col-md-8">&nbsp;</div>
            <div class="col-md-2"><span class="thick">$225.45</span></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button id="submitbtn">Checkout Now!</button>
            </div>
        </div>
    </div>
</div>
